/*
    Global style 
*/

[draggable] {
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

/* applying a nicer UX*/
.nicer-ux *,
.ux-maker {
  -webkit-transition: all .3s ease-out;
  -moz-transition:    all .3s ease-out;
  -ms-transition:     all .3s ease-out;
  -o-transition:      all .3s ease-out;
  transition:         all .3s ease-out;
}
.tooltip {
  font-family: Arial;
  text-shadow: none;
  font-weight: normal;
}
.cursor (@type) {
    cursor: e(%("-webkit-@{type}"));
    cursor: e(%("-moz-@{type}"));
    cursor: @type;
}

.text-shadow (@val) {
    -webkit-text-shadow: @val;
    -moz-text-shadow: @val;
    text-shadow:@val;
}