.persons-list {
	
	@shadow-color: rgba(0,0,0,.3);
	@person-name-shadow: white;
	@h4-font: Cuprum;

	.person-card {
		.card {
			.cursor(grab);
			.box-shadow(0px 3px 2px -2px @shadow-color);
			position: relative;
			border: 1px solid rgb(230, 230, 230);
			border-bottom: none;
			padding: 8px;
			margin-bottom: 10px;

			&:hover {
				.box-shadow(0 2px 13px -1px @shadow-color);
			}

			.age {
				display: none;
			}

			&.card-type-lead {
				.lead-age {
					display: inline;
				}
			}

			&.card-type-candidate {
				.candidate-age {
					display: inline;
				}
			}

			&.card-type-match {
				.candidate-age {
					display: inline;
				}
			}

			h4 {
				.text-shadow(1px 1px 1px @person-name-shadow);
				font-family: @h4-font;
			}
		}

		.match-status-Not {
			@not-active: lightslategray;
			#gradient > .vertical(lighten(@not-active, 30%), lighten(@not-active,15%));
		}

		.badges {
			position: absolute;
			top: -3px;
			right: 10px;
			text-align: right;

			.employ-badge {
				border-top: 1px solid @shadow-color;
				background-color: whitesmoke;
				color: black;
			}

			.domain {
				border-radius: 0;
				border-width: 2px;
				padding: 5px 7px;

				// domain colors
				&.domain-JS {
					border-color: #547a7d;
				}

				&.domain-ALM {
					border-color: #c42a44;
				}

				&.domain-ror {
					border-color: #726869;
				}

				&.domain-java {
					border-color:#552439;
				}

				&.domain-net {
					border-color:#e05e46;
				}
			}
		}

		.tikal-logo {
			display: none;
			height: 24px;
			margin-top: -1px;
			// .box-shadow(0 0 2px gray);
		}

		.recruit-status-hired {
			.tikal-logo {
				display: inline-block;
			}
		}
	}

	.person-card [class^="-show-lead"] {
		display: none;
	}

}