<h4><i class="icon-user"></i><strong><%- candidate_name %></strong> (<%- domain %>)
<h4>
<p>
	<small><i class="icon-plus-sign"></i>: <%- recruitment_status %></small>
	<small>, by <i class="icon-link"></i><%= assigned_user_name %></small>
</p>
<p class="<%- lead_name %>-show-lead">
	<small><i class="icon-hand-right" title="lead"></i>: <%- lead_name %> is <%- lead_initiative %> recieved <%= lead_weeks_age %> weeks ago</small>
</p>
<span class=" badge badge-info"><%- candidate_weeks_age %> weeks</span> 